.mainCount{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.butt {
  position: relative;
  background-color: #f4511e;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.butt:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.butt:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.result{
  width: 130px;
  height: 72px;
  text-align: center;
  background-color: #f4511e;
  color: black;
  font-size: 50px;
  margin: 4px 15px;
}